<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../CSS/user/test.css">
</head>
	<title>Document</title>
</head>
<body>
	<section class="vh-100 bg-image"
	style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
	<div class="mask d-flex align-items-center h-100 gradient-custom-3">
	  <div class="container h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
		  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
			<div class="card" style="border-radius: 15px;">
			  <div class="card-body p-5">
				<h2 class="text-uppercase text-center mb-5">Create an account</h2>
  
				<form>
  
				  <div class="form-outline mb-4">
					<input type="text" id="form3Example1cg" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example1cg">Your Name</label>
				  </div>
  
				  <div class="form-outline mb-4">
					<input type="email" id="form3Example3cg" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example3cg">Your Email</label>
				  </div>
  
				  <div class="form-outline mb-4">
					<input type="password" id="form3Example4cg" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example4cg">Password</label>
				  </div>
  
				  <div class="form-outline mb-4">
					<input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example4cdg">Repeat your password</label>
				  </div>
  
				  <div class="form-check d-flex justify-content-center mb-5">
					<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
					<label class="form-check-label" for="form2Example3g">
					  I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
					</label>
				  </div>
  
				  <div class="d-flex justify-content-center">
					<button type="button"
					  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
				  </div>
  
				  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
					  class="fw-bold text-body"><u>Login here</u></a></p>
  
				</form>
  
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</body>
</html>






<% if (orderDetail.length > 0) { %>
	<ul>
	  <% for (let i = 0; i < orderDetail.length; i++) { %>
		<li>
		  <div class="card shadow-0 border mb-4">
			<div class="card-body">
			  <div class="row">
				<% const products = orderDetail[i]; %>
				<% let totalPrice = 0; %>
				<% for (let j = 0; j < products.length; j++) { %>
				  <div class="col-md-2">
					<!-- Display product image -->
					<img src="<%= products[j].image[0] %>" class="img-fluid" alt="<%= products[j].name %>" style="height: 120px; width: 150px;">
				  </div>
				  <div class="col-md-2 text-center d-flex justify-content-between align-items-center">
					<!-- Display product name -->
					<p class="text-muted mb-0"><%= products[j].name %></p>
				  </div>
				  <div class="col-md-2 text-center d-flex justify-content between align-items-center">
					<!-- Display quantity -->
					<p class="text-muted mb-0 small">Quantity: <%= order[i].quantity[j] %></p>
				  </div>
				  <div class="col-md-2 text-center d-flex justify-content-between align-items-center">
					<!-- Display price for the current product -->
					<% order.forEach(element => { %>
					  <p class="text-muted mb-0 small">Price: #&8377 <%= element.price %></p>
					 
					<% }) %>
				  </div>
				  <% totalPrice += order[i].price[j] * order[i].quantity[j]; %>
				<% } %>
				<!-- Display the total price for the current order -->
				<div class="col-md-2 text-center d-flex justify-content-between align-items-center">
				  <p class="text-muted mb-0 small">Total Price: <%= totalPrice %></p>
				</div>
			  </div>
			</div>
		  </div>
		</li>
	  <% } %>
	</ul>
  <% } %>
  