<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=1"
    />
    <meta name="theme-color" content="#111111" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://knife.media/wp-content/themes/knife/assets/images/icon-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="https://knife.media/wp-content/themes/knife/assets/images/icon-192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://knife.media/wp-content/themes/knife/assets/images/icon-180.png"
    />

    <title>404</title>
    <link rel="stylesheet" href="../../CSS/home/404.css" />
  </head>

  <body class="bg-purple">
    <div class="stars">
      <div class="central-body">
        <img
          class="image-404"
          src="http://salehriaz.com/404Page/img/404.svg"
          width="300px"
        />
      </div>
      <div class="objects">
        <img
          class="object_rocket"
          src="http://salehriaz.com/404Page/img/rocket.svg"
          width="40px"
        />
        <div class="earth-moon">
          <img
            class="object_earth"
            src="http://salehriaz.com/404Page/img/earth.svg"
            width="100px"
          />
          <img
            class="object_moon"
            src="http://salehriaz.com/404Page/img/moon.svg"
            width="80px"
          />
        </div>
        <div class="box_astronaut">
          <img
            class="object_astronaut"
            src="http://salehriaz.com/404Page/img/astronaut.svg"
            width="140px"
          />
        </div>
      </div>
      <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>
  </body>
</html>
